body{ margin:0; padding:0}
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0;}
.addWrap .swipe{overflow: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}

.addWrap ul{
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    margin: 0;
    opacity: 0.5;
    text-align: right;
    background: #333;
    border-radius: 10px;
    line-height: 1px;
}
.addWrap li{
    width: 8px;
    height: 8px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 5px;
    background-color: #f7f7f7;
}
.addWrap li.cur{background-color:#FF0000;}
.img-responsive { display: block; max-width: 100%;  height: auto;}
.swipe-wrap img{
    display: block;
    width: 100%;
}
.image{
    overflow: hidden;
}

h3,p,span,label{
    font-family: Microsoft YaHei, Arial, sans-serif;
    color: #828282;
}
body{
    background: #fff;
}
div.wrap div.content{
    margin: 0;
}

.detail-address-box{
    padding: .2em 0.8em;
}
.detail-address-box h3{
    font-size: 1.5em;
}
.detail-address-box i{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 1em;
    vertical-align: -50%;
}

.detail-address-box i.icon-address{
  background-image: url('../image/sprite.png');
  background-position: left -0px;
    vertical-align: -19%;
    height: 22px;
    font-size: 0.2em;
}

.detail-address-box p{
    font-size: 1em;
    font-family: Microsoft YaHei, Arial, sans-serif;
    color: #828282;
    padding: .5em 0;
}
.detail-address-box span{
    padding: 0 .5em 0 0;
}
.detail-address-box i.icon-user{
  background-image: url('../image/sprite.png');
  background-position: left -39px;
}
.detail-address-box i.icon-space{
  background-image: url('../image/sprite.png');
  background-position: left -74px;
}
.detail-address-box i.icon-car{
  background-image: url('../image/sprite.png');
  background-position: left -105px;
    background-size: 1.2em;
}
.detail-address-box li{
    padding: .2em 0;
}
.detail-address-box li.pure-g{
    padding: .8em 0 0;
}
.box-hd{
    background: #d9d9d9;
    padding: .5em 1em;
}
.product-box-bd{
    background: #ebebeb;
    padding: .5em;
}
.product-box-bd ul{
    padding: 0 0 0 1em;
}
.product-box-bd h3{
    font-size: 1.5em;
}
.product-box-bd span{
    margin: 0 1em 0 0;
}
.product-box-bd i.yes{
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 1.2em;
  background-image: url('../image/sprite.png');
  background-position: left -135px;
    vertical-align: -10%;
}
.product-box-bd i.no{
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 1.2em;
  background-image: url('../image/sprite.png');
  background-position: left -162px;
    vertical-align: -10%;
}
.product-box-bd label{
    margin: 0 .5em 0 0;
}
.product-box-bd  li{
    padding: .8em 0;
}
.product-box-bd  li.pure-g{
    padding: .1em 0;
}
.product-box-bd  li:first-child{
    padding: 0 0 .8em;

}

.server-box-bd i.check{
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 1.6em;
  background-image: url('../image/sprite.png');
  background-position: left -189px;
    vertical-align: -10%;
}
.server-box-bd i.no-check{
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 1em;
  background-image: url('../image/sprite.png');
  background-position: left -222px;
    vertical-align: -31%;
}
.server-box-bd p{
    padding: .5em 0;
}
.server-box-bd{
    padding: 0 .5em;
    background: #ebebeb;
}
.other-box-bd p{
    text-align: center;
}
.prompt-box-bd p{
    padding: 1em;
    line-height: 1.6;
}

.fixed-bottom{
    position: fixed;
    height: 4em;
    bottom: 0;
    width: 100%;
}

.fixed-bottom .pure-u-3-5{
    background: #3e5dd0;
}
.fixed-bottom .pure-u-2-5{
    background: #ff9f00;
}
.fixed-bottom p{
    font-size: 2em;
    color: #fff;
    line-height: 2em;
    text-align:center;
}
.fixed-bottom  a{
    font-family: Microsoft YaHei, Arial, sans-serif;
    display: block;
    font-size: 1.5em;
    color: #fff;
    line-height: 2.6em;
    text-align:center;
}
.detail-wrap{
    padding: 0 0 3em;
}

@media (max-width:374px) {
    .server-box-bd .pure-u-1-5,.server-box-bd .pure-u-2-5{
        width: 50%;
    }
    .detail-address-box .pure-u-1-3,.detail-address-box .pure-u-2-3{
        width: 100%;
    }
}
