div.wrap div.footer div.nav ul li{
	float: left;
	width: 20%;
	text-align: center;
	font-size: 12px;
	position: relative;
	height: 50px
}

div.footer div.nav ul li.active a{
	color:#FF8400
}
div.footer div.nav ul li a{
	color:#646262;
	display: inline-block;
	width: 100%;
	height:100%;
}
div.footer div.nav ul li a label{
	position: absolute;
	bottom: 5px;
	width: 100%;
	left:0;
}
div.footer div.nav ul li a i{
	width: 23px;
	height: 22px;
	background-size: 23px;
	display: block;
	margin: auto;
	margin-top:5px;
}
div.footer div.nav ul li a i.home-icon{
	background-image: url("../images/home.png");
}

div.footer div.nav ul li a i.active-home-icon{
	background-image: url("../images/home-active.png");
}

div.footer div.nav ul li a i.cart-icon{
	background-image: url("../images/cart.png");
}

div.footer div.nav ul li a i.active-cart-icon{
	background-image: url("../images/cart-active.png");
}

div.footer div.nav ul li a i.find-icon{
	background-image: url("../images/faxian.png");
}

div.footer div.nav ul li a i.active-find-icon{
	background-image: url("../images/faxian-active.png");
}

div.footer div.nav ul li a i.tel-icon{
	background-image: url("../images/aftermarket.png");
}

div.footer div.nav ul li a i.active-tel-icon{
	background-image: url("../images/Aftermarket-active.png");
}

div.footer div.nav ul li a i.account-icon{
	background-image: url("../images/navigation.png");
}

div.footer div.nav ul li a i.active-account-icon{
	background-image: url("../images/Navigation-active.png");
}

