div.area-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	bottom: 0;
	background-color: white;
}
div.area-wrap div.area-head{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #f2f2f2;
	z-index: 99;
}
div.area-head span.left{
	display: inline-block;
	float:left;
}
div.area-head div.result{
	background-color: white;
	border: 1px solid #EEEBEB;
	font-size: 14px;
	color: #B6AFAF;
	text-indent: 10px;
}
div.citylist{
	background-color: white;
	margin-top: 50px;
	width: 100%;
}
dl.city{
	margin: 0;
	padding-left: 20px;
}
dl.city dd{
	margin: 0;
	border-bottom: 1px solid #EEEBEB;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
dl.city dd label{
	font-size: 14px;
	position: absolute;
	right: 15px;
	background-color: white;
	z-index: 10;
}
