div.wrap div.content div.i_index_ad{
	background-color: white;
	margin: 15px 0;
	clear: both;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 5px #ddd;
	background: white;
}
div.wrap div.content div.i_index_ad ul{
	margin: 0;
	padding: 0;
}
div.wrap div.content div.i_index_ad ul li{
	float: left;
	width: 50%;
	list-style: none;
	box-sizing: border-box;
}
div.wrap div.content div.i_index_ad ul li:first-child{
	border-right:1px solid #ddd
}
div.wrap div.content div.i_index_ad ul li img{
	width: 100%;
}
/*���l��*/
div.content .module{
	padding:0 5px;
}
div.content .module ul.opt-list li {
	width: 33.3%;
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	margin-bottom: 5px;
	color: black;
	font-weight: bold;
}
div.content .module ul.opt-list li a{
	display: inline-block;
	height: 90%;
	width: 90%;
	border: 1px solid #CCC;
	background-color: #F3F3F3;
}