div.wrap div.head{
	background-color: #f7f7f7;
	height: 50px;
	position: fixed;
	z-index: 1001;
	top: 0;
	border-bottom: 1px solid #ddd;
	left: 0;
	right: 0;
} 
div.wrap div.head ul{
	margin: 0;
	padding: 0;
}
div.wrap div.head div.left{
	float: left;
	width:50px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: white;
	font-size: 15px;
	position: relative;
}

div.head div.center{
	left: 60px;
	right: 65px;
	position: absolute;
	top: 0;
	font-size: 15px;
	bottom: 0;
}
div.center input.search {
	width: 99%;
	height: 30px;
	left: 2px;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 12px;
	line-height: 30px;
	text-indent: 30px;
	background: url(../image/m-bg2.png) white no-repeat 10px -2771px;
	color: #999;
	position: relative;
	top: 0;
}
div.center i.search-line{
	display: inline-block;
	height: 5px;
	width: 100%;
	border-bottom: 1px solid #FF9F39;
	border-left: 1px solid #FF9F39;
	border-right: 1px solid #FF9F39;
	position: relative;
	top: -10%;
}
div.head div.right{
	float:right;
	width: 50px;
	padding-right: 5px;
	position: relative;
	z-index: 999;
}
div.wrap div.head div.right i{
	background-image: url("../image/index.png");
	display: inline-block;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-position: 8px -250px;
	background-size: 25px auto;
}
i.back-btn{
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: -10px;
	background-image: url("../image/prev_btn_normal.png");
	background-repeat: no-repeat;
	background-position: -5px -1px;
	background-size:35px;
}
button.search-btn{
	border: none;
	height: 30px;
	width: 100%;
	font-size: 14px;
	color: white;
	font-weight: bold;
	background-color: #f70;
	border-radius: 4px;
	margin-top: 8px;
	letter-spacing: 1px;
	font-family: 微软雅黑;
	font-weight: normal;
}
div.head div.title{
	height: 45px;
	line-height: 45px;
	font-size: 16px;
}
/* ͷ����������ʽ */
div.filter-list{
	background-color: white;
	height:45px;
	clear: both;
	border-bottom: 1px solid #e8e5e5;
	border-top:1px solid #e8e5e5;
	box-shadow:0px 0px 10px #e8e5e5;
}
div.filter-list ul li {
	color: #6e6e6e;
	float: left;
	height:45px;
	text-align: center;
	font-size: 13px;
	position: relative;
}
div.filter-list ul.cls-2 li {
	width:50%;
}
div.filter-list ul.cls-3 li {
	width:33%;
}
div.filter-list ul.cls-4 li {
	width:25%;
}
div.filter-list ul.cls-5 li {
	width:20%;
}
div.filter-list ul li a {
	display: block;
	height: 100%;
	width: 100%;
}
div.filter-list ul li a.active {
	border-bottom: 2px solid red;
}
div.filter-list ul li span{
	display: inline-block;
	width:100%;
	height:30px;
	line-height: 30px;
	margin: 0;
	vertical-align: middle;
	position: absolute;
	top: 20%;
	left:0;
	clear: both;
	color: #6e6e6e;
	overflow: hidden;
}
div.filter-list ul li span label{
	display: inline-block;
	position: relative;
	right: 15px;
	word-spacing: normal;
	overflow: hidden;
	word-break: normal;
	word-wrap: normal;
	height: 30px
}

div.filter-list ul li span.active{
	color: red;
	font-weight: bold;
}
div.filter-list ul li span.sep{
	border-right:1px solid #ccc;
}
div.filter-list ul li i.direc{
	background-size: 13px auto;
	position: absolute;
	right: 8px;
	top: 48%;
	background-image: url("../image/direction.png");
	background-repeat:no-repeat;
	z-index: 10;
	display: block;
	width: 13px;
	height: 7px;
}
