/* Main stylesheet for select plugin */
.selectul{
    position:relative;
    display:inline-block;
    cursor:pointer;
    float:left;
    margin-right:10px;
}
.selectul ul{
    position:absolute;
    left:0;
    top:0px;
    background:#fff;
    border:1px solid #bdc3c7;
    border-top:none;
    padding:0px;
    overflow:hidden;
    overflow-y:auto;
    display:none;
    padding-top: 31px;
    -webkit-box-shadow:1px 1px 2px #eee;
    box-shadow:1px 1px 2px #eee;
}
.selectul ul li{
    height:20px;
    line-height:20px;
    color:#6a7576;
    font-size:12px;
    padding:5px 10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.selectul ul li:hover{
    background:#666;
    color:#fff;
    cursor:pointer;
}
.selectul select{
    display:none;
}

.selectfocus{
    height:30px;
    line-height:30px;
    border:1px solid #d3dcdd;
    background-color: #fff;
    padding:0 0 0 8px;
    position: relative;
    z-index: 1002;
}
.selectfocus em{
    height:30px;
    display:block;
    background:url("../image/select-arr-default.gif") no-repeat right 0;
    font-style:normal;
    color:#4b555b;
    padding-right:8px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.select_ul_show .selectfocus{
    /*border-color:#91c4e5;
    border-bottom-color:#edf4f8;*/
}
.select_ul_show .selectfocus em{
    background-position:right -28px;
}

/*时间样式*/
.lq-datetimepick{
    /* top: 30px; */
    /* left: -30px; */
    width: 100%;
    /*height: 280px;*/
    /* padding: 10px; */
    /* position: absolute; */
    /*left: 50%;
    top: 50%;
    margin: -160px 0 0 -260px;*/
    /* border: 1px solid #d3dcdd; */
    background-color: #FFFFFF;
    /* -webkit-box-shadow: 0 0 7px rgba(0,0,0,.2); */
    /* box-shadow: 0 0 7px rgba(0,0,0,.2); */
    display: none;
    overflow: hidden;
    margin: 0 auto;
}
.datetime-arr{
    width: 13px;
    height: 7px;
    position: absolute;
    left: 25px;
    top: -7px;
    /*background: url("../images/pop-tips-info-arr.gif") no-repeat 0 0;*/
}
.select-datetime{
    width: 100%;
    float: left;
	height:auto;
    *height: 222px;
}
.select-datetime dl{
    height: 50px;
}
.select-datetime dl.datetime-day{
    margin-bottom: 10px;
}
.select-datetime dl dt{
    width: 100px;
    /* height: 40px; */
    float: left;
    text-align: center;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #4b555b;
}
.select-datetime dl dt a{
    display: block;
    padding: 7px 0;
}
.select-datetime dl dt span{
    display: block;
    border-right: 1px solid #ecf0f1;
    margin-right: -1px;
}
.select-datetime dl dt.last span{
    border-right: none;
}
.select-datetime dl dt span i{
    color: #f03368;
    margin-left: 6px;
}
.select-datetime dl dt em{
    display: block;
    font-weight: normal;
}
/*.select-datetime dl dt a:hover,*/
.select-datetime dl dt.current a{
    background-color: #13a4e7;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
/*.select-datetime dl dt a:hover i,*/
.select-datetime dl dt.current a i{
    color: #FFFFFF;
}
.select-datetime dl dt a:hover{
    text-decoration: none;
}

.select-datetime dl dd{
    position: relative;
    width: 99px;
    height: 40px;
    float: left;
    background-color: #fff;
    border: 1px solid #d3dcdd;
    padding: 7px 0 6px;
    margin: -1px 0 0 -1px;
    line-height: 20px;
    text-align: center;
    color: #4b555b;
    cursor: pointer;
}
.select-datetime dl dd em{
    font-size: 12px;
    display: block;
}
.select-datetime dl dd.over{
    color: #95a5a6;
    background-color: #ecf0f1;
}
.select-datetime dl dd.selected{
    color: #ffffff;
    background-color: #6b7879;
}



/*年份*/
.datetime-select{
    height: 32px;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3dcdd;
}
.datetime-select .selectul{
    width: 100px;
}

/*日期*/
.select-datetime dl.datetime-day{
    height: 35px;
}
.select-datetime dl.datetime-day dt,
.select-datetime dl.datetime-day dd{
    width: 14.2857%;
    /* height: 30px; */
    line-height: 30px;
    box-sizing: border-box;
}
.select-datetime dl.datetime-day dt{
    width: 14.2%;
}
.select-datetime dl.datetime-day dt span{
    border-right: none;
    font-size: 14px;
    text-align: center;
}

.select-datetime dl dd.blank{
    background-color: #fafbfb;
}
.select-datetime dl dd.current{
    background-color: #f2f5f5;
    font-weight: bold;
}

/*时分*/
.select-datetime dl.datetime-hour dd{
    width: 61px;
    height: 30px;
    line-height: 30px;
}


/**/
.select-datetime dl.datetime-week{
    height: 50px;
}
.select-datetime dl.datetime-week dt,
.select-datetime dl.datetime-week dd{
    width: 100px;
    height: 50px;
    line-height: 150%;
}
.select-datetime dl.datetime-week dt span{
    border-right: 1px solid #ecf0f1;
    font-size: 12px;
    text-align: center;
    margin-right: -1px;
}
.select-datetime dl dt.last span{
    border-right: none;
}


.yui3-g{
    letter-spacing:-0.31em;*letter-spacing:normal;word-spacing:-0.43em;display: -webkit-flex;-webkit-flex-flow: row wrap;display: -ms-flexbox;-ms-flex-flow: row wrap;
}
.yui3-u{
    display:inline-block;*display:inline;zoom:1;vertical-align:top;word-spacing:normal;letter-spacing:normal;
}
.ft-info i{
    width: 1em;
    height: 1em;
    margin: .25em 0 0;
    box-sizing: border-box;
}
.ft-info i.reserve-on{
    /* background-image: url('../../images/activity/reserve-on.png'); */
    /* background-color: #ddd; */
    border: 1px solid #999;
}
.ft-info i.reserve-off{
    /* background-image: url('../../images/activity/reserve-off.png'); */
    background-color: #ddd;
}
.ft-info i.reserve-count{
    /* background-image: url('../../images/activity/reserve-count.png'); */
    background-color: #FF3566;
    border-radius: 50%;
}
.ft-info ul{
    padding:20px 0;
    text-align: center;
}
.ft-info ul li{
    width: 32%;
}
.ft-info span{
    color: #666;
    vertical-align: -10%;
}

.place-hd{
    background: #CBCBCB;
    padding: .2em .5em;
}
.place-bd{
    text-align: center;
    padding: 1em 0;
}
.place-box ul{
    text-align: center;
    padding: .5em 0 0;
}
.place-box li{
    
padding: 1em 1.5em;
    
/* background-color: #ddd; */
    
box-sizing: border-box;
}
.place-box li.reserve-yse{
    border: 1px solid #5778F6;
    color: #5778F6;
}
.place-box li.reserve-no{
    background-color: #CBCBCB;
    color: #fff;
    border: 1px solid #CBCBCB;
}
.place-box li.reserve-now{
    background-color: #5778F6;
    color: #fff;
    border: 1px solid #5778F6;
}
.place-box p{
    font-size: 14px;
}
.place-box{
    padding: 1.5em 0 0;
}

.ft-info .blue .reserve-on{
    border: 1px solid #5778F6;
}

.ft-info .blue span {
    color: #5778F6;
}

.place-btn{
    width: 13em;
    padding: 1em 0;
    text-align: center;
    background: #FF9F00;
    color: #fff;
    font-family: Microsoft YaHei, Arial, sans-serif;
    font-size: 14px;
    border: 0;
    /* border-radius: 3px; */
    margin: 1em 0 0;
}
.datetime-day span.reserve-count{
    position:absolute;
    top:-10%;
    right:-10%;
    z-index:9;
    color:#fff;
    width:1.5em;
    height:1.5em;
    text-align:center;
    line-height:1.5em;
    background:#FF3566;
    border-radius:50%
}
.reserve .data-box{
    /* padding:1em 0 0
; */
    /* overflow: hidden; */
    padding: 1em 0 0;
}