div.dialog_wrapper{
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	//-moz-box-shadow: 0 0 15px #888;
	//-webkit-box-shadow: 0px 0px 15px #888;
	background-color:white;
	position:absolute; 
	visibility:hidden;
	z-index:990;
	border:1px solid #666;
	border-radius:4px 4px 0 0;
}
div.dialog_wrapper div.head{
	color:rgb(5, 5, 68);
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 45px;
    position: relative;	
	font-family:arial,΢���ź�;
    font-size:14px;
    border-bottom:1px solid #c2c2c2;
    border-radius:4px 4px 0 0;
    background-image:-webkit-linear-gradient(top,#F2F2F2,#E1E1E1);
}
div.dialog_wrapper div.head i{
	left: 6px;
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 33px;
	background: url(../image/p_msg_bg3.png) transparent -315px -135px no-repeat;
	top: 2px;
}
div.dialog_wrapper div.head b.left_corner{
	display:none;
	background:url(../image/bg.png) #ccc -256px 0 repeat-x;
	width:2px;
	height:27px;
	position:absolute;
	left:-2px;
	top:0;
}
div.dialog_wrapper div.head b.right_corner{
	display:none;
	background:url(../image/bg.png) #ccc -258px 0 repeat-x;
	width:2px;
	height:27px;
	position:absolute;
	right:-2px;
	top:0;
}
div.dialog_wrapper div.body{
	border:0;
}
div.dialog_wrapper div.confirm_content{
	margin:2em 3em;
	background:white;
}
div.dialog_wrapper div.prompt_content{
	margin:2em 3em;
	background:white;
}
div.dialog_wrapper div.prompt_content p{
	margin:0 0 5px
}
div.dialog_wrapper div.prompt_content textarea{
	width:320px;
	padding:5px;
	height:62px;
}
div.dialog_wrapper .quick_operate{
	position:absolute;
	top:4px;
	right:2px;
}
div.dialog_wrapper .quick_operate a{
	background:url(../image/p_msg_bg2.png) -2px -670px no-repeat;
	width:20px;
	height:20px;
	display:block;
}
div.dialog_wrapper .quick_operate a:hover{
	background-position:-19px -670px;
}
div.dialog_wrapper div.operate{
	padding: 7px 5px 0;
	text-align: right;
	border-top:1px solid #ccc;
}
